body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #007bff;
}

.search {
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
}

.search-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  align-items: center
}

input[type="text"] {
  padding: 8px;
  width: calc(80% - 100px); /* Adjust width to leave space for the button */
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.description h4 {
  margin-bottom: 10px;
}

.description ol {
  padding-left: 20px;
}

.description ol li {
  margin-bottom: 10px;
}

.description p {
  line-height: 1.6;
}

#suggestedKeywords {
  margin-top: 10px;
  white-space: autowrap;
  color: gray;
}

.keywords-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 10px;
}

#keywordsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Ensure list items are displayed inline */
}

#keywordsList li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px;
  color: gray;
  cursor: pointer;
}

/* Adjust the styles for the #results container */
#results {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

/* Add styles for the individual cards */
.card {
  text-align: center;
  margin: 10px;
}

/* Style the images inside the cards */
.card img {
  width: 300px; /* Increase the width */
  height: 150px; /* Set the height to match the width for a square shape */
  border-radius: 5px; /* Add border-radius for a rounded corner effect */
}

/* Add styles for the active card */
.card.active .card-body {
  display: block; /* Show the card body */
}

/* Hide the card body by default */
.card-body {
  display: none;
}
