
.search h1 {
  color: #007bff; /* Blue color */
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #353440;
}

.main-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}

.search-container {
  flex: 1;
  margin-right: 20px;
  min-width: 800px; /* Set a minimum width */
}


.search-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  width: calc(90% - 100px); /* Adjust width to leave space for the button */
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.instruction-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.instruction-card {
  flex-basis: calc(30% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.instruction-card h3 {
  color: #007bff;
}

.instruction-card p {
  margin-top: 10px;
}


#results {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
